@using IaesteWorkshop.Models
@model IEnumerable<IaesteWorkshop.Models.Movie>
@{
    ViewBag.Title = "Reviews";
}

<div class="review-content">
    <div class="reviews-section">
        <h3 class="head">Movie Reviews</h3>
        <div class="col-md-9 reviews-grids">
            @{
                var id = 0;
            }
            @foreach (var movie in Model)
            {
                id++;
                <div class="review">
                    <div class="movie-pic">
                        <a href="@Url.Action("Single", "Home", new {id = movie.Id})">
                            @if (movie.CoverImage != null)
                            {

                                <img src="@Url.Action("Index", "MovieFile", new { id = movie.CoverImage.MovieId })" width="369" height="369" alt="cover image" />
                            }
                            else
                            {
                                <img src="~/images/gridallbum1.jpg" title="allbum-name" />
                            }
                        </a>
                    </div>
                    <div class="review-info">
                        @{
                            var expertReview = movie.Reviews.FirstOrDefault(x => x.ReviewType == MoviewReviewType.Expert);
                            if (expertReview != null)
                            {
                                var reviewScore = ((int)expertReview.Rating) / 2;
                                <p class="ratingview">Critic's Rating:</p>
                                <div class="rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="@(i <= reviewScore ? "active" : String.Empty)">☆</span>
                                    }
                                </div>
                                <p class="ratingview">
                                    &nbsp;@(String.Format("{0:N2}", reviewScore)) /5
                                </p>
                                <div class="clearfix"></div>
                            }

                            if (movie.Reviews.Any(x => x.ReviewType == MoviewReviewType.Reader))
                            {
                                var readerReview = movie.Reviews.Average(x => ((int)x.Rating) / 2);

                                <p class="ratingview c-rating">Avg Readers' Rating:</p>
                                <div class="rating c-rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="@(i <= readerReview ? "active" : String.Empty)">☆</span>
                                    }
                                </div>
                                <p class="ratingview c-rating">
                                    &nbsp;@(String.Format("{0:N2}", readerReview)) /5
                                </p>
                                <div class="clearfix"></div>
                            }
                        }

                        <div class="yrw">
                            @{
                                var createMovieReview = new MovieReview
                                {
                                    MovieId = movie.Id,
                                    ReviewType = MoviewReviewType.Reader
                                };
                                var viewData = new ViewDataDictionary();
                                viewData["returnUrl"] = Request.Url.PathAndQuery;
                                Html.RenderPartial("~/Views/MovieReviews/_CreateSimple.cshtml", createMovieReview, viewData);
                            }


                            @if (!String.IsNullOrEmpty(movie.TrailerUrl))
                            {
                                <div class="wt text-center">
                                    <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-@id">WATCH THIS TRAILER</a>
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(movie.TrailerUrl))
                            {
                                <div id="small-dialog-@id" class="mfp-hide">
                                    <iframe src="@movie.TrailerUrl" frameborder="0" allowfullscreen></iframe>
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>
                        <p class="info">CAST:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@movie.Cast>()</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;@movie.Direction</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @movie.Genre</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; @movie.Duration</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                                }
        </div>

        <div class="col-md-3 side-bar">
            <div class="featured">
                <h3>Featured Today in Movie Reviews</h3>
                <ul>
                    <li>
                        <a href="single"><img src="~/images/f1.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single"><img src="~/images/f2.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single"><img src="~/images/f3.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single"><img src="~/images/f4.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single"><img src="~/images/f5.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single"><img src="~/images/f6.jpg" alt="" /></a>
                        <p>lorem movie review</p>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>

            <div class="entertainment">
                <h3>Featured Today in Entertainment</h3>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f6.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f5.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f3.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f4.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f2.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single"><img src="~/images/f1.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="single">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="might">
                <h4>You might also like</h4>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single"><img src="~/images/mi.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single"><img src="~/images/mi1.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single"><img src="~/images/mi2.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single"><img src="~/images/mi3.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!---->
            <div class="grid-top">
                <h4>Archives</h4>
                <ul>
                    <li><a href="single">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a></li>
                    <li><a href="single">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                    <li><a href="single">When an unknown printer took a galley of type and scrambled it to make a type specimen book. </a> </li>
                    <li><a href="single">It has survived not only five centuries, but also the leap into electronic typesetting</a> </li>
                    <li><a href="single">Remaining essentially unchanged. It was popularised in the 1960s with the release of </a> </li>
                    <li><a href="single">Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing </a> </li>
                    <li><a href="single">Software like Aldus PageMaker including versionsof Lorem Ipsum.</a> </li>
                </ul>
            </div>
            <!---->

        </div>

        <div class="clearfix"></div>
    </div>

    @{ Html.RenderPartial("_Flexisel");  }


</div>
@section scripts
{
    @{ Html.RenderPartial("_FlexiselScripts");  }
}

